name: Tests

on:
  push:
    branches:
      - main
    paths:
      - 'Formula/**'
      - 'Casks/**'
  pull_request:
    paths:
      - 'Formula/**'
      - 'Casks/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            Formula/**
            Casks/**

      - name: Run brew audit
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "Auditing $file"
            brew audit --strict --online "$file"
          done

      - name: Run brew style
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "Checking style for $file"
            brew style "$file"
          done
